.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.navbar__link {
  font-size: 1.4rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  transition: 0.2s;
  text-decoration: none;
}
.navbar__link:hover {
  background-color: #555;
}

.navbar__link_active {
  background-color: #444;
}
